# Dependency directories
node_modules/

# Tooling logs
*.log

# Our temprorary files (e.g. ad-hoc scripts)
*.temp.*

# IDE
.idea

# Built js libs
lib/

# Build files
package/
dist/

# Oclif
oclif.manifest.json

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
